@import 'reset.css';
@import './font.css';
@import './colors.css';

/* blocks */
@import 'shared.css';
@import './logo.css';
@import './menu.css';
@import './header.css';
@import 'button.css';
@import 'museum-info.css';
@import 'cars.css';
@import 'photo-link.css';
@import 'program.css';
@import 'prizes.css';
@import 'price.css';
@import 'divider.css';

* {
    box-sizing: border-box;
    font-family: Unbounded;
    font-style: normal;
}

body {
    position: relative;
}

