.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 577px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: var(--main-text-colors);
    transition: all 0.2s color;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    color: var(--main-menu-hover-color);
}